body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #171717;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.header {
  background-color: #be185d;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  z-index: 1;
}

.header_left {
  font-size: 1.5rem;
  font-weight: 550;
  letter-spacing: 1px;
  font-size: 22px;
}

.header_right {
  padding: 10px;
  box-shadow: inset 0 0 0 1px white;
  font-size: 16px;
  font-weight: 550;
  letter-spacing: 1px;
  border-radius: 8px;
  cursor: pointer;
  transition-duration: 220ms;
}

.header_right:hover {

  box-shadow: inset 0 0 0 1px rgb(224, 220, 220);
  background-color: white;
  color: #be185d;
}

.section {
  margin-top: 24px;
  padding: 16px;
}

.EmployeList {
  height: 400px;
  overflow: auto;
  padding: 0px 12px;


}

.Employe_name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: whitesmoke;
  padding: 16px;
  margin: 12px 0px;
  border-radius: 12px;
  cursor: pointer;
}


.section_content {
  display: grid;
  grid-template-columns: 30% 60%;
  grid-gap: 20px;
  justify-content: space-between;
}

.Info_Header {
  text-align: center;
  color: whitesmoke;
  border-bottom: 1px solid whitesmoke;
  padding-bottom: 12px;

}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 22px;
  color: white;
}

.userIMage {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-image {
  width: 100%;
}

.user-name {
  margin-top: 16px;
  color: white;
  font-size: 22px;
  font-weight: 600;
}

.details {
  margin-top: 12px;
}

.employee-data {
  width: 100%;
  height: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;

  justify-content: center;

}

.InputData {
  width: 500px;


}

.InputData_Header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  color: white;
  font-size: 22px;
  font-weight: 600;
}

input {
  width: 100%;
  padding: 16px;
  margin-bottom: 8px;
  border-radius: 20px;
}

.submit-data {
  padding: 16px;
  border-radius: 20px;
  background-color: #be185d;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition-duration: 220ms;
}

.submit-data:hover {
  color: #be185d;
  background-color: white;

}

.close-window {
  background-color: #be185d;
  color: white;
  font-size: 22px;
  font-weight: 600;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 220ms;
}

.close-window:hover {
  color: #be185d;
  background-color: white;
}

.creater {
  color: white;
  font-size: 22px;
}